.customerHome {
  margin-top:5%;	
  padding:20px;
  display:inline-block;
}
.card-img-top {
	width:200px;
	height:200px;
}

.customerHome > .product {
 	width:250px;
 	text-align : center;
 	height:250px;
}

.customerHome > .product >.container > .card {
 	width:200px;
 	text-align : center;
}
 
.customerHome > form > .container {
	padding-bottom:20px;
	display:inline-block;
	width:200px;
}

.customerHome > .product > .container > .card > .card-body {
	text-align:center;
	height:50px;
}

.customerHome > .product > .container > .card > .card-body > .card-text {
	width:200px;
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.05); 
}

.customerHome > .product {
	display : inline-block;
	padding:10px;
}

.customerHome > .no-result {
	margin-left:450px;
	display:block;
    text-align:center;
    padding-top : 8%;
}

.customerHome > .product > .container > .card > button {
	background-color:white;
	border:none;
	outline:none;
}

.customerHome > .product > .container > .card > .card-body > button {
	height:50px;
	background-color:white;
	border:none;
    outline:none;
}

.customerHome > .product > .container > .card > .card-body > button:hover {
	background-color:white;
	border:none;
	color: #3465a4;
}


