.navbar-custom {
    background-color: #47a3da;
}
li {
   vertical-align:center;
}
#search {
    width : 350px;
}

nav > .container-fluid > .navbar-header > a {
    color: white;
}

nav > .container-fluid > ul > li > a {
    color: white;
}

nav > .container-fluid > ul > li > a:hover {
    background-color:#47a3da;
    color: black;
}

nav > .container-fluid > .navbar-header > button {
    color: white;
}

#btnloginModal:hover {
    background-color:#47a3da;
    color: black;
}

#btnloginModal {
    border: none;
    color:white;
    background-color: inherit;
    padding: 14px 28px;
    cursor: pointer;
    display: inline-block;
}
.modal-backdrop {
   z-index:0;
}

.fa-search {
  font-size: 20px;
}

.fa-envelope {
  font-size: 10px;
}

.fa-mobile {
  font-size: 20px;
}

select {
    width: 50px;
}

option {
    overflow: hidden;
    white-sapce: no-wrap;
    text-overflow: ellipsis;
}

#Customerlogin {
    width: auto;
    margin: 0 auto;
    height:100%;
    width:100%;
    top:10%
}

#CustomerSignUp {
    top:3	%;	
}

.regPanda {
	height:20%;
}

.logo {
	text-align: center;
}
