.navbar-custom {
    background-color: #3465a4;
    padding:none;
}

li {
   vertical-align:center;
}
#search {
    width : 350px;
}

.navbar-header > .navbar-brand:hover {
	color:black;
}

.navbar-header > button > a{
	color:white;
}

.cartButton >  button {
	background:#3465a4;
	color:white;
	border:none;
	height:50px;
}


.cartButton >  button:hover {
	background-color:#3465a4;
	color:black;
	border:none;
}

.cartButton >  button .focus {
	background-color:none;
	color:black;
	border:none;
}

.btn-default:focus {
	outline:none;
	background-color:#3465a4;
}

nav > .container-fluid > .navbar-header > a {
    color: white;
}

nav > .container-fluid > ul > li > a {
    color: white;
}

nav > .container-fluid > ul > li > a:hover {
    background-color:#3465a4;
    color: black;
}

#btnloginModal:hover {
	background-color:#3465a4;
    color: black;
    outline:none;
}

#btnloginModal {
    border: none;
    color:white;
    background-color: inherit;
    padding: 16px 28px;
    cursor: pointer;
    display: inline-block;
}
.modal-backdrop {
   z-index:0;
}

.fa-search {
  font-size: 18px;
}

.fa-envelope {
  font-size: 10px;
}

.fa-mobile {
  font-size: 20px;
}

select {
    width: 50px;
}

option {
    overflow: hidden;
    white-sapce: no-wrap;
    text-overflow: ellipsis;
}

#Customerlogin {
    width: auto;
    margin: 0 auto;
    height:100%;
    width:100%;
    top:10%
}

#CustomerSignUp {
    top:3	%;	
}

.logo > .regPanda {
	height:100px;;
}

.logo {
	text-align: center;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .dropdown-content p button {
	border:none;
	width: 130px;
	text-align:left;
}



