.orderProducts {
	margin-top:7%;
	margin-bottom:5%;
}

.products {
	height:300px;
}
.image {
	height : 100px;
	text-align:center;
	display:inline-block;
}

.productImage {
	display:inline-block;
	width:30%;
	height:100px;
}

.productName {
	text-align:center;
	width:30%;
	height:100px;
	font-weight:bold;
	font-size:20px;
}

.productQuantity {
	width:10%;
	text-align:center;
	height:100px;
}

.productPrice {
	width:20%;
	text-align:center;
	height:100px;
}

.headingProduct {
	text-align:center;
	width:30%
}

.headingName {
	text-align:center;
	width:30%;
}

.headingQuantity {
	width:10%;
	text-align:center;
}

.headingPrice {
	width:20%;
	text-align:center;
}

label {
	padding:2%;
	text-align:center;
	font-style:italic;
	color: #888a85;
}

table tr th {
	padding-bottom:5%;
	border-bottom:1px solid lightgrey;
	height:50px;
}

.table {
	border-bottom: 1px solid lightgrey;
}

th {
	height:50px;
}

table tr form td {
	padding-bottom :5%;
	border:none;
}

.orderProducts > .deliveryAddress {
    margin-left:10%;	
    margin-right:10%;
    padding-top:1%;
}

.orderProducts > .deliveryAddress > .deliveryAddressTitle {
	background-color: #3465a4;
    height : 50px;
    padding-left:5%;
    padding-right:5%;
    color: white;
    padding-top:14px;
    padding-bottom:30px;
}

.orderProducts > .deliveryAddress > .deliveryAddressTitle > button{
	float:right;
	color: black;
	background:lightgrey;
	text-align:center;
	border-radius:0px;
}


.orderProducts > .deliveryAddress > .deliveryAddresses > .newAddress > button{
	text-align:left;
	padding-left:5%;
	width:100%;
	border-radius:0px;
}

.orderProducts > .deliveryAddress > .deliveryAddresses > .newAddress > button > i {
	color:grey;
	border:1px solid black;
	padding: 2px;
	height:18px;
}

.orderProducts > .deliveryAddress > .deliveryAddresses > .address > label {
		padding : 5px;
}

.orderProducts > .deliveryAddress > .deliveryAddresses > .address {
	text-align:left;
	padding-left:5%;
    padding-top:5px;
	width:100%;
	border : 0.5px solid grey;
}

.orderProducts > .deliveryAddress > .deliveryAddresses > .address > button {
	background:orange;
	border-radius:0px;
}

.orderProducts > .payment {
    margin-left:10%;	
    margin-right:10%;
    padding-top:1%;
}

.orderProducts > .payment > .paymentTitle {
	background-color: #3465a4;
    height : 50px;
    padding-left:5%;
    padding-right:5%;
    color: white;
    padding-top:14px;
    padding-bottom:30px;
}

.orderProducts > .payment > .paymentOptions {
	border : 0.5px solid grey;
	padding-left:5%;
	
}

.orderProducts > .payment > .paymentOptions > .modeOfPayment {
	padding : 5px;
}

.orderProducts > .payment > .paymentOptions > .modeOfPayment > label {
	padding : 5px;
}

.orderProducts > .payment > .paymentTitle > button {
	float:right;
	color: black;
	background:lightgrey;
	text-align:center;
	border-radius:0px;
}

.placeOrderButton {
	text-align:right;
	margin-top:2%;
	padding-bottom:2%;
	padding-right:2%;
	width:100%;
}

.placeOrderButton > #makeOrder {
	color:white;
	background:#f57900;
	text-align:center;
	border-radius:0px;
}

.placeOrderButton > #cancelOrder {
	color:white;
	background:#cc0000;
	text-align:center;
	border-radius:0px;
}


