.btn.btn-primary.btn-right {
	float:right;
}

.modal-content {
    border-radius: 5px;
}

.modal-header {
    border-radius: 5px 5px 0 0;
}

.form-group-btn {
	text-align:center;
}

.buttonWrapper {
	margin-top:7%;
}

.addressWrapper {
	margin-top:3%;
}

.table td {
	vertical-align:middle;
}